.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 5px;
}

.App-header {
  background-color: #da3c3c;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img-1{
  object-fit: cover;
}
.grid-container {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e2e2e2;
  margin: 3px;
  padding: 10px;

  text-align: center;
  font-size: 24px;

}
.blur {
  filter: blur(8px);
}
